@import 'variables'
@import 'margin'
@import 'glyphs'
@import 'form'
@import 'mixins/helpers'
@import 'card'
@import 'links'
@import 'animations'

*
  cursor default

body
  background background-color
  color default-color
  font-family font

.container
  box-sizing content-box
  margin-right auto
  margin-left auto
  max-width 600px

.logo
  margin-right auto
  margin-left auto
  height 64px
