input
  border none
  border-right 1px solid primary-color
  background-color transparent
  color primary-color
  font-family font
  padding-left 15px
  width 100%
  outline 0

  &:hover
    border-width 2px

  &::placeholder
    color primary-color

  &::selection
    color primary-color
