times = 10

for i in 1..4
  .mx-{i}
    margin-left i * times px
    margin-right i * times px
  .my-{i}
    margin-top i * times px
    margin-bottom i * times px
  .mb-{i}
    margin-bottom i * times px
  .mt-{i}
    margin-bottom i * times px
