vars = {
  background-color: white,
  default-color: #35495e,
  primary-color: #41b883,
  info-color: #003cff,
  danger-color: #f00,
  loading-animation-duration: .2s,
  font: monospace,
}

card-variants = default primary info danger

:root
  for i, j in vars
    {'--'+i}: j

for i, j in vars
  define(i, var(unquote('--'+i)))
